* {
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
} */

/* body {

} */

div {
    /* min-height: 100%; */
    /* min-width: 100%; */
    background: rgba(207,207,207,100);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
}

button {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#header {
    height: 60px;
}

#gallery-container {
    min-height: 200px;
}

/* #collections-card {

} */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    gap: 10px;
}

.header > * {
    flex: none;
    background-color: aquamarine;
}

.header.subheader {
    color: rebeccapurple;
}

#artwork-nav-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    gap: 10px;
}

#artwork-nav-grid > * {
    flex: 1 1 auto;
}

#artwork-nav-grid > .artwork-nav-left-right {
    flex: 0 1 auto;
}

.gallery-grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    gap: 10px;
}

.gallery-grid > * {
    flex: none;
    width: 20%;
}

.gallery-grid > #gallery-middle {
    flex-grow: 2;
}

#hero-img {
    max-width:100%;
    max-height:100%;
}

.collection-flex-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
    gap: 10px;
}

.collection-item {
    flex: none;
}

.collection-item-detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
    gap: 10px;
}

.collection-item-detail-rating {
    flex: none;
}

.collection-item-detail-delete {
    flex: none;
}

img.collection-artwork-image {
    max-width: 50px;
}