/* --------------------
    GENERAL STYLES
-------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transarent;
    font-family: 'Roboto', sans-serif;
}

/* html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
} */

body {
    background-color: rgb(234, 234, 234);
}

div {
    /* border-width: 1px;
    border-color: rgb(254, 0, 0);
    border-style: solid; */
    
    /* min-height: 100%; */
    /* min-width: 100%; */
    /* background: rgb(255, 255, 255); */
    /* margin: 5px; */
    /* padding: 5px; */
}

.card {
    margin: 15px;
    padding: 15px;
    
    background-color: rgb(255, 255, 255);

    border-width: 1px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .1);
    
}

button {
    margin: auto;
    padding: 5px 15px;
    
    background-color: rgba(0, 0, 0, 1);
    
    color: white;
    text-align: center;
    text-decoration: none;
    
    border-radius: 5px;
    
    display: inline-block;
    cursor: pointer;
}

button#save-to-collection {
    width: 100%;
}

/* --------------------
    Page Header
-------------------- */

#page-header {
    margin: 0 0 10px 0;
    padding: 10px 0px;

    background-color: rgba(255, 255, 255, 1);

    font-family: 'Bakbak One', cursive;
    font-size: 200%;
    text-align: center;
    
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .1);
}

/* --------------------
    GALLERY GENERAL
-------------------- */

#gallery-card {
    height: 410px;
    padding: 15px;
}

.gallery-grid {
    display: inline-grid;
    grid-template-columns: [first] 25% [second] auto [end];
    grid-template-rows: [first] 40px [second] 280px [third] 60px [end];
    grid-template-areas:
        "header header"
        "info hero"
        "museum nav"    
    ;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    width: 100%;
}

/* --------------------
    GALLERY DETAILS
-------------------- */

#hero-title {
    grid-area: header;
    font-size: 140%;

    line-height: 40px;
    /* align-content: center; */
    text-align: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    margin-top: -5px;
}

    #hero-title > p {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

#hero-info {
    grid-area: info;
}

    #hero-info h2 {
        margin: 0 0 15px 0;
        /* text-decoration: underline; */
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin: 0 0 8px 0;
    }

    strong {
        text-decoration: underline;
    }

#hero-div {
    grid-area: hero;
    /* height: 270px; */
    text-align: center;
}

    #hero-img {
        margin: auto;
        display: inline-block;
        height: 100%;
        vertical-align: center;
        max-width: 100%;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 1);
        border-style: solid;
}

#museum-div {
    grid-area: museum;
    align-self: start;
}

    .museum-title {
        font-size: 125%;
        /* font-weight: bold; */
        /* font-style: italic; */
        margin: 0 0 5px 0;
    }

    .custom-select {
        /* margin: 0 0 5px 0; */
        border-width: 1px;
        border-radius: 2px;
        border-color: rgba(0, 0, 0, 1);
        /* width: auto; */
        /* display: inline-block; */
        /* width: 75%; */
        /* overflow: hidden; */
    }

    #search-artwork {
        width: 100%;
    }

    select {
        width: 100%;
        text-align-last: center;
        text-align: center;
        margin-top: 5px;
    }
    
#hero-nav {
    grid-area: nav; 
    /* height: 65px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    gap: 15px;
}
    #rating-div {
        align-items: center;
        text-align: center;
    }

    #rating-select {
        margin-bottom: 5px;
    }

    /* #hero-nav > * {
        flex: 1 1 auto;
    }

    #hero-nav > .artwork-nav-left-right {
        flex: 0 1 auto;
    } */
    
    
/* --------------------
  COLLECTIONS GENERAL
-------------------- */

.collections-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    gap: 10px;
    
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    
    margin: 0 0 15px 0;
}

.collection-title {
    grid-area: header;
    font-size: 140%;
    
    line-height: 40px;
    /* align-content: center; */
    text-align: center;
}

.collections-header button {
    margin: 0px;
    height: 30px;
}

/* --------------------
   COLLECTIONS CARD
-------------------- */


.collections-card {
    margin: 10px 0;
    padding: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}

.collection-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    gap: 10px;
    margin: auto auto 15px auto;
}

.collection-card-header * {
    margin-left: 0;
    margin-right: 0;
    font-size: 125%;
}

.collection-card-header button {
    height: 30px;
    font-size: 100%;
}

button.delete-collection {
    align-self: flex-end;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: 0;
    background-color: rgb(255, 0, 0);
}

button.edit-collection {
    background: transparent;
    border-width: 0;
    color: rgba(0, 0, 0, 1);
    padding-left: 0;
    padding-right: 0;
}

.collection-name-input {
    border-width: 0 0 1px 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    color: rgb(130, 130, 130);
    font-style: italic;
    width: 300px;
}

.collection-flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    gap: 10px;
}

.collection-artwork {
    /* border-width: 1px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1); */
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 120px;
    position: relative;
}

.collection-artwork button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    padding: 2px 6px;
    height: auto;
    width: auto;
    font-size: 75%;
    background-color: rgb(227, 227, 227);
    color: rgba(0, 0, 0, 1);
    align-items: center;
    text-align: center;
    /* border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid; */
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1)
}

div.collection-artwork-image {
    width: 150px;
    height: 95px;
    align-content: center;
}

.collection-artwork-rating {
    position: absolute;
    bottom: 5px;
    left: 38px;
}

img.collection-artwork-image {
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;

}